.bg-primary {
  background-color: #0a0a0a !important;
}

.bg-secondary{
    background-color: #f8f9fa !important;
}


#mainNav .navbar-brand {
    color: #040000;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #040000;
}

.footer{
    background-color: #0a0a0a !important;
}

.hover {
    invert:1;
}

.form-width{
    width:80%;
    text-align: center;
    padding-left: 20%;
}


.product-body{
    padding-bottom: 100px;
}

.behind{
    z-index: -1;
}
.img-fill{
    height:100%;
}

.img-sizer{
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    width:150px;
    height:200px;
    margin: 0 auto;
}